<h3 class="auth__form__header">Login</h3>
<form
  class="auth__form"
  {{!-- action="http://localhost:42069/auth/login" --}}
  {{!-- method="POST" --}}
>
  <input
    class="input__member"
    type="number"
    placeholder="Register No"
    value={{this.register_no}}
    {{on 'input' this.handle_input_register}}
  />

  <button
    class="input__member btn" type="button" {{on 'button' this.handle_submit}}
  >
    Login
  </button>

  <p class="auth__note">
    New to the site? <LinkTo class="auth__redirect link" @route="register">Register</LinkTo>
  </p>
  {{yield}}
</form>